p{
    color:rgb(211, 118, 52);
    font-family: sans-serif;
    text-shadow: 2px 2px rgba(10, 27, 43, 0.283);
    line-height: 7px;
   
}
h1{
    font-family: sans-serif;
    background-color: rgb(77, 77, 77);
    color:rgb(251, 173, 64);
    font-size: 40px;
    text-decoration: none; 
    letter-spacing: 12px;
    text-align: center;
}
option{
    color:rgb(79, 151, 214)
}
textarea{
    border-color: rgb(154, 150, 143);
    color: rgb(100, 72, 35);

}